<div class="jumbotron">
    <h1 class="display-4">Cook App</h1>
    <p class="lead">Bienvenidos a Cook App! Una App que te ayuda con esa molesta tarea diaria de responder: Que comemos???</p>
    <p>Esta App te permite anotarte ideas para las comidas diarias con sus correspondientes ingredientes. Podes escribir todas las comidas que quieras, editarlas y borrarlas.</p>
    <a href="/tasks/list" class="btn btn-primary btn-lg">
        Lista de comidas
    </a>
</div>